/*------------------------------------------/
/-----------------Common--------------------/
/------------------------------------------*/
html, body {
  font-family: font-family: 'Helvetica Neue', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #888888;
}

* {
  padding: 0px;
  margin: 0px;
}

#typed-strings {
  display: none;
}

.bold {
  font-weight: 600;
  color: #1E1E1E;
}

.opacity-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
}

.tablebox {
  display: table;
  width: 100%;
}

a {
  color: #44A8DB;
}

section {
  padding: 60px 0;
}

section h3.title {
  text-transform: uppercase;
  color: #1E1E1E;
}

/*section h3.title::after {
  content: '.'
  color: #44A8DB;
  font-size: 34px;
}*/

p.desc {
   font-size: 16px;
   font-weight: 200;
   color: #888;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



/*------------------------------------------/
/-----------------Banner--------------------/
/------------------------------------------*/

.banner {
  position: relative;
  background-color: #1E1E1E;
  background-image: url('/images/background.jpg');
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
  color: #fff;
}

.banner-whatsyourplan {
  position: relative;
  background-color: #1E1E1E;
  background-image: url('/images/whatsyourplan.jpg');
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
  color: #fff;
}

.banner-text 
{
  display: table-cell;
  vertical-align: middle;
}

.banner-border {
  display: inline-block;
  padding: 0 60px;
  border: 2px solid #fff;
}

.banner-border-whatisyourplan {
  display: inline-block;
  padding: 30px 30px;
  border: 2px solid #fff;
}

#heads:before, #heads:after {
  background: rgba(224, 224, 224, 0.75);
  content: '';
  left: 50%;
  position: absolute;
  width: 1px;
  z-index: 0;
}

#heads::before {
  height: calc(100%);
  opacity: 0.15;
  top: 0px;
}

.hostyle {
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 60px;
}

.pstyle {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  padding: 0px !important;
}

.banner-text h2 {
  color: #fff;
  font-size: 32px;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 100;
  margin: 30px 0;
}

.arrow {
  text-align: center;
  font-size: 40px;
  color: rgba(224, 224, 224, 0.80);
  display: inline-block;
  margin: 30px -2px 0px 0px;
  padding: 0 15px;
  border: 1px solid rgba(224, 224, 224, 0.80);
  border-radius: 100%;
}

.arrow:hover, .arrow:focus {
  color: rgba(224, 224, 224, 1);
  border: 1px solid rgba(224, 224, 224, 1);
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*------------------------------------------/
/-----------------Nav--------------------/
/------------------------------------------*/

#menu:before {
  background: rgba(224, 224, 224, 0.75);
  content: '';
  position: absolute;
  width: 100%;
  z-index: 0;
}

#menu::before {
  height: 1px;
  opacity: 0.15;
  bottom: 100px;
}

.menubar {
  margin-bottom: 0px !important;
  background-color: #44A8DB;
  /*background-color: #F5F5F5;*/
  border: none !important;
  border-radius: 0px !important;
  z-index: 2;
}

.logo {
  display: inline-block;
  text-transform: uppercase;
  height: auto !important;
  padding: 10px 20px !important;
  margin: 13px 0;
  color: #FFF;
  font-size: 20px !important;
  font-weight: 400;
  letter-spacing: 5px;
  border: 1px solid #FFF;
}

.logo:hover {
  color: #FFF;
}

.navstyle li a {
  padding: 24px 15px !important;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navstyle li a:hover, .navstyle li a:focus, .navstyle li a.active {
  background-color: rgba(0, 0, 0, 0.15); !important;
  color: #FFF;
}

.navbar-right {
    float: right !important;
    margin-right: 0px !important;
}


/*------------------------------------------/
/-----------------Services------------------/
/------------------------------------------*/

.service-icons {
  width: 12%;
  float: left;
}

.service-icons img {
  width: 100%;
}

.service-icons i {
  color: #1E1E1E;
  font-size: 24px;
}

.featurebox {
  margin-top: 60px;
}

.fh-desc {
  width: 80%;
  float: right;
}

.fh-desc h3 {
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1E1E1E;
}

.fh-desc p {
    color: #888;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 200;
    width: 90%;
    text-align: justify;
}


/*------------------------------------------/
/-----------------Team----------------------/
/------------------------------------------*/

.team {
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}

.team hr {
  border-top: 1px solid #E4E4E4;
  margin: 20px auto;
  width: 50%;
}

.sorting {
  color: #44A8DB;
  font-weight: 600;
  font-size: 15px;
  margin-left: 15px;
}

.sorting h3 {
  color: #1E1E1E;
}

.sorting .active {
  background-color: #44A8DB;
  color: #fff;
  border: 1px solid #44A8DB;
}

.filimg {
  padding: 10px 15px;
  cursor:pointer;
  border-top: 1px solid #44A8DB;
  border-left: 1px solid #44A8DB;
  border-bottom: 1px solid #44A8DB;
}

.filimg:last-child {
  border-right: 1px solid #44A8DB;
}

.galleryimg {
  margin: 30px 0 60px 0;
}

#galleryimg .mix{
  display: none;
}


.grid {
  position: relative;
  padding: 0;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  /*min-height: 100%;*/
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 100;
}

.grid figure h2 span {
  font-weight: 700;
  margin-right: 10px;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

.experts figure.effect-Beauty h2 {
  font-size: 1.2em;
}

figure.effect-Beauty {
  background-color: rgba(0, 0, 0, 0.5);
}

figure.effect-Beauty img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  width: 100%;
}

figure.effect-Beauty:hover img {
  opacity: 0.4;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-Beauty h2 {
  /*margin-top: 50%;*/
  position: absolute;
  width: 100%;
  bottom: 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,-20px,0);
}

figure.effect-Beauty p {
  position: absolute;
  bottom: 0;
  width: 90%;
  margin: 0 0 0 5%;
  padding: 10px 7px;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,40px,0) scale(1.1);
  transform: translate3d(0,0,0) scale(1.1);
} 

figure.effect-Beauty:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,-80px,0);
}

figure.effect-Beauty:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,-20px,0) scale(1);
}


/*------------------------------------------/
/-----------------Social------------------/
/------------------------------------------*/

.social {
  background: #F0F0F0;
}

.social ul {
  margin-top: 30px;
  list-style: none;
  display: inline-block;
}

.social li {
  display: inline-block;
  margin: 0px 10px;
}

.social li a {
  color: #44A8DB;
  font-size: 48px;
  line-height: 0px !important;
}


/*------------------------------------------/
/-----------------Contact------------------/
/------------------------------------------*/

.contact .details {
  margin-top: 60px;
}

.contact h3 {
  margin-bottom: 10px;
}

.contact address p {
  margin-bottom: 5px;
}

/*------------------------------------------/
/-----------------Map--------------------/
/------------------------------------------*/

section.map {
  width: 100%;
  height: 450px;
  padding: 0;
}

#map {
  height: 100%;
}


/*------------------------------------------/
/-----------------Footer--------------------/
/------------------------------------------*/
.foot {
  padding: 50px 0px 30px;
}

.foot .logo {
  color: #1E1E1E;
  border: 1px solid #1E1E1E;
}

.foot-text {
  color: #888;
  /*font-family: "Source Sans Pro",sans-serif;*/
  font-size: 12px;
  font-weight: 600;
  padding: 20px 0px;
  text-transform: uppercase;
}

.foot-text a {
  color: #3EC9C3; 
}





@media (min-width: 200px) and (max-width: 767px) {
  .hostyle {
    font-size: 48px;
  }

  .navstyle{
    width: 100% !important;
  }

  .navbar-brand.logo {
    margin-left: 15px;
  }

  .navstyle li a {
    padding: 10px 15px !important;
    text-align: center;
    display: block;
  }

  .notes button {
    margin-top: 20px;
  }

  .centertext {
    text-align: center;
  }

  .btn-or {
    margin-top: 20px;
    display: inline-block;
  }

  .social {
      margin-top: 10px;
  }

  .menu-button {
    padding: 8px 10px !important;
    margin-top: 9px !important;
    font-size: 30px !important;
    color: #FFF;
  }

  figure.effect-Beauty h2 {
    font-size: 1.2em;
  }

  section {
    padding: 60px 0px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .social {
    margin-top: 10px;
  }
  .notes button {
    padding: 14px 19px;
    font-size: 13px;
  }
}

@media (min-width: 100px) and (max-width: 378px) {
  .hostyle {
    font-size: 32px;
  }

  .sorting {
    font-size: 10px;
  }

  .experts figure.effect-Beauty h2 {
    font-size: 0.8em;
  }

  .experts figure.effect-Beauty h2 span {
    margin-right: 5px;
  }

  .contact .col-md-4 {
    margin-top: 10px;
  }
}